html{
    scroll-behavior: smooth;
}
body{
    margin: 0;    
}

a{
    text-decoration: none;
}

@keyframes avatarHover{
    0%{
      transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}

#header{   
    padding: 1.5rem;
    background: #528DFF ;  
    text-align: center;
    font: 600 1.2rem Rajdhani, sans-serif; 
    align-items: center;
    display:flex;
    justify-content: space-between;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

#header>h1{    
    color: white;   
    margin:0 0rem 0 2rem;
}

#header>ul>a{    
    color: white; 
    margin: 0 1.5rem ;     
}

#header>ul>a:hover{
    border-bottom: 0.2rem solid #2972FF;
    transition: 200ms;
}

.background{
    height: 100vh;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
}

.avatar>img{
    height: 70vh;
    position: absolute;
    top: 15rem;
    right: 20rem;    
}

.avatar>img:hover{
    animation: avatarHover 2s linear infinite;
}

.presentation{
    margin: 15rem 15rem ;
}

.presentation>h1{
    margin: 0;
    color:#528DFF ;
    font: 600 4rem Rajdhani, sans-serif;
    line-height: 1;
}

.presentation>h2{
    margin: 0;
    color: #D7D7D7;
    font: 600 2.5rem Rajdhani, sans-serif;
}

.button img{
    width:1.7rem;
    height:1.7rem;
    margin-right:1rem ;
    fill: #FFF;
}

.button{
    justify-content:center;
    color: white;
    margin: 1rem 0;    
    align-items: center;
    display:flex;
    width: 250px;
    height: 50px;     
    font: 600 1.5rem Rajdhani, sans-serif; 
    border: none;
    border-radius: 10px;  
    background:#528DFF;
    transition: 200ms;
}

.button:hover{
    filter: brightness(0.9);    
}

.sobre{
    font: 300 1.5rem Lexend, sans-serif;
    display: flex;
    flex-direction: row;
    flex: 1;
    color: white;    
    margin: 5rem 15rem;
    padding: 0 5rem;
    align-items: center;
    justify-content: space-between;
    background: #444444;
    border-radius: 3rem;
}

.sobre img{  
    height: 20rem; 
    border-radius: 50%;
    border: 0.5rem solid #528DFF;
}

.sobre div{
    margin: 4rem;    
}
.scrollToTop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #528DFF;
    border-radius: 0.8rem;
    transition: 1s;    
}

.scrollToTop:hover{
    filter: brightness(0.9);
    transform: translateY(-10px);
}

.scrollToTop img{    
    height: 4rem;
    width: 4rem
}

.title{
    color: #FFF;
    text-align: center;
    margin: auto;
    font: 600 2rem Lexend,sans-serif;
}

#conhecimentos{   
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;    
    margin:5rem 20rem; 
}

.card-conhecimentos{    
    display: flex;
    flex-direction: column;    
    align-items: center;        
    margin: 1rem auto;
    background: #444444;    
    text-align: center;
    padding:3rem 6rem;
    border-radius:2rem;
    color: white;    
}

.card-conhecimentos p{
    width:10rem;
    font: 600 1rem Lexend, sans-serif;
}

.card-conhecimentos h3{
    width:10rem;
    font: 600 1.5rem Lexend, sans-serif;
}

.card-conhecimentos img{
    margin: auto;
    width: 4rem;
}

#projetos{   
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;    
    margin:5rem 20rem; 
}

.card-projetos{
    display: flex;
    flex-direction: column;    
    align-items: center;        
    margin: 1rem auto;
    background: #444444;    
    text-align: center;
    padding:3rem 6rem;
    border-radius:2rem;
    color: white; 

}

.card-projetos h3{
    width:10rem;
    font: 600 1.5rem Lexend, sans-serif;
}

.card-projetos p{
    width:15rem;
    line-height: 1;
    font: 600 1rem Lexend, sans-serif;
}

.card-projetos img{    
    height: 4rem;
    border-radius: 0.5rem;
}

.tecnologias{  
    margin: 1rem 0;  
    font: 600 0.9rem lexend, sans-serif;
}

.tecnologias h4{    
    display: inline;
    margin: 0.5rem;
    background: #1f1f1f;
    padding: 0.5rem;border-radius: 0.5rem;
}

#aprendizado{   
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;    
    margin:5rem 20rem;
}

.card-aprendizado{
    display: flex;
    flex-direction: column;    
    align-items: center;        
    margin: 1rem auto;
    background: #444444;    
    text-align: center;
    padding:3rem 3rem;
    border-radius:2rem;
    color: white;  

}

.card-aprendizado h3{  
    width:15rem;  
    margin: 2rem;
    font: 600 1rem Lexend, sans-serif;
}

.card-aprendizado p{
    width:15rem;
    line-height: 1;
    font: 600 0.8rem Lexend, sans-serif;
}

.card-aprendizado img{    
    height: 4rem;
    border-radius: 0.5rem;
}

footer{
    text-align: center;
    padding: 1rem;
    background: #2972FF;
    color: #FFF;    
    font: 600 0.7rem Lexend, sans-serif;
}

footer h2{
    margin: 0;
}

footer img{
    height: 1.5rem;
    margin: 1rem 2rem;
}